<a href="https://colab.research.google.com/github/u-9979/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
import random
list_student=[]
for j in range(5):
  for i in range(5):
    student_number=2220000
    student_number+=random.randint(1,280)*10
  x=str('b')+str(student_number)
  list_student.append(x)

print(list_student)

['b2221770', 'b2222500', 'b2220220', 'b2222330', 'b2222660']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
import random

list1=[]
list2=[]
list=[]
for i in range(5):
  
  while True:
    x=random.randint(1,10)
    if not x in list1:
      list1.append(x)
      break
    else:
      continue
  while True:
    y=random.randint(1,10)
    if not y in list2:
      list2.append(y)
      break
    else:
      continue

for j in range(5):
  z=list1[j]+list2[j]
  list.append(z)

print('1つ目のリスト:',list1)
print('2つ目のリスト:',list2)
print('足し合わせたリスト:',list)

1つ目のリスト: [6, 4, 5, 7, 1]
2つ目のリスト: [2, 8, 5, 3, 7]
足し合わせたリスト: [8, 12, 10, 10, 8]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
random.shuffle(todohuken_list)

list=[todohuken_list[i:i+4] for i in range(0,len(todohuken_list),4)]

print(list)

[['秋田県', '新潟県', '宮崎県', '沖縄県'], ['高知県', '鳥取県', '山口県', '石川県'], ['福岡県', '島根県', '大阪府', '栃木県'], ['愛知県', '熊本県', '奈良県', '大分県'], ['岐阜県', '福島県', '香川県', '岩手県'], ['和歌山県', '京都府', '千葉県', '青森県'], ['三重県', '群馬県', '愛媛県', '兵庫県'], ['埼玉県', '宮城県', '富山県', '長野県'], ['鹿児島県', '長崎県', '静岡県', '広島県'], ['茨城県', '山形県', '佐賀県', '東京都'], ['北海道', '福井県', '徳島県', '神奈川県'], ['山梨県', '岡山県', '滋賀県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
print(university_list)

x={'Chitose,25':25,'Hokudai,105':105,'Muroran,74':74,'Hakodate,23':23}
y=sorted(x.items(),key=lambda x:x[1])

list1=[]
for i in range(4):
  a=y[i][0]
  list1.append(a)

print(list1)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
Fizz=[]
Buzz=[]
FizzBuzz=[]
others=[]

N=100
for i in range(1,N+1):
  if i%3==0 and i%5==0:
    FizzBuzz.append(i)
  elif i%3==0:
    Fizz.append(i)
  elif i%5==0:
    Buzz.append(i)
  else:
    others.append(i)

print('FizzBuzzの数:',len(FizzBuzz))
print('Fizzの数:',len(Fizz))
print('Buzzの数:',len(Buzz))
print('othersの数:',len(others))

FizzBuzzの数: 6
Fizzの数: 27
Buzzの数: 14
othersの数: 53