<a href="https://colab.research.google.com/github/u-9979/Prmn2023a/blob/main/my_answer/PythonBasic_2_MyAnswer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2章 課題

## 課題1

for文を使って、以下のように出力してください

![oSFeQoX.png](https://i.imgur.com/oSFeQoX.png)

In [ ]:
for i in range(1,5):
  x=2*i-1
  print(' '*(4-i),'*'*x)

    *
   ***
  *****
 *******

## 課題2

課題1の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  
![o5NjugQ.png](https://imgur.com/o5NjugQ.png)

In [ ]:
n=int(input('n='))
for i in range(1,n+1):
  x=2*i-1
  print(' '*(n-i),'*'*x)

段数5
     *
    ***
   *****
  *******
 *********

## 課題3

for文を使って、以下のように出力してください

![oSirXec.png](https://imgur.com/oSirXec.png)

In [ ]:
for i in range(1,4):
  x=2*i-1
  print(' '*(4-i),'*'*x)
for j in range(4,0,-1):
  y=2*j-1
  print(' '*(4-j),'*'*y)

    *
   ***
  *****
 *******
  *****
   ***
    *

## 課題4

課題3の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![my4J17V.png](https://i.imgur.com/my4J17V.png)

In [39]:
n=int(input('n='))
for i in range(1,n):
  x=2*i-1
  print(' '*(n-i),'*'*x)
for j in range(n,0,-1):
  y=2*j-1
  print(' '*(n-j),'*'*y)

n=10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

## 課題5

for文を使って、以下のように出力してください

![vDUi5eM.png](https://imgur.com/vDUi5eM.png)

In [32]:
for i in range(1,4):
  x=2*i-1
  a=7-(2*i)
  print(' '*(4-i),'*'*x,' '*a,'*'*x,sep='')
for j in range(4,0,-1):
  y=2*j-1
  b=7-(2*j)
  if j==4:
    print(' '*(4-j),'*'*(2*y-1),sep='')
  else:
    print(' '*(4-j),'*'*y,' '*b,'*'*y,sep='')

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題6

課題5の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![udkVlYG.png](https://imgur.com/udkVlYG.png)

In [34]:
n=int(input('n='))

for i in range(1,n):
  x=2*i-1
  a=2*(n-i)-1
  print(' '*(n-i),'*'*x,' '*a,'*'*x,sep='')
for j in range(n,0,-1):
  y=2*j-1
  b=2*(n-j)-1
  if j==n:
    print(' '*(n-j),'*'*(2*y-1),sep='')
  else:
    print(' '*(n-j),'*'*y,' '*b,'*'*y,sep='')

5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *

## 課題7

for文を使って、以下のように出力してください

![IuP0M16.png](https://imgur.com/IuP0M16.png)

In [38]:
for k in range(2):
  for i in range(1,4):
    x=2*i-1
    a=7-(2*i)
    print(' '*(4-i),'*'*x,' '*a,'*'*x,sep='')
  for j in range(4,1,-1):
    y=2*j-1
    b=7-(2*j)
    if j==4:
      print(' '*(4-j),'*'*(2*y-1),sep='')
    else:
      print(' '*(4-j),'*'*y,' '*b,'*'*y,sep='')

print(' '*3,'*',' '*5,'*',sep='')

   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *
  ***   ***
 ***** *****
*************
 ***** *****
  ***   ***
   *     *

## 課題8

課題7の場合を`n=4`として、nを自分で設定して出力できるようにしてください

＜例＞ n=5の場合  

![AlTnu1k.png](https://imgur.com/AlTnu1k.png)

In [41]:
n=int(input('n='))

for k in range(2):
  for i in range(1,n):
    x=2*i-1
    a=2*(n-i)-1
    print(' '*(n-i),'*'*x,' '*a,'*'*x,sep='')
  for j in range(n,1,-1):
    y=2*j-1
    b=2*(n-j)-1
    if j==n:
      print(' '*(n-j),'*'*(2*y-1),sep='')
    else:
      print(' '*(n-j),'*'*y,' '*b,'*'*y,sep='')

a1=2*(n-1)-1
print(' '*(n-1),'*',' '*a1,'*',sep='')

n=5
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *
   ***     ***
  *****   *****
 ******* *******
*****************
 ******* *******
  *****   *****
   ***     ***
    *       *